<% const scale = 20

 const _vectors = JSON.parse(JSON.stringify(graph.vectors))
 const _vectors2  = JSON.parse(JSON.stringify(graph.vectors))
 const vectors = _vectors.concat(_vectors2) // jeez
 // console.log(vectors);
 let totalVectorsLength = 0
 for (var i = 0; i < vectors.length; i++) {
   totalVectorsLength += vectors[i].length
 }
 const averageVectorLength = totalVectorsLength / vectors.length
 // console.log({ averageVectorLength });
 const yOffsetFromTop = scale * vectors.length
 const graphWidth = (vectors.length + 1) * scale * 2 + averageVectorLength
%>
<div class="svg-graph">
  <svg width="<%= graphWidth * 2 %>" height="<%=vectors.length * scale * 2 %>" >
    <% for (var i = 0; i < vectors.length; i++) {
      const halfWidth = vectors[i].length / 2
      vectors[i].splice(halfWidth, 0, false)
      // console.log(vectors[i]);
       %>
        <% for (var j = 0; j < vectors[i].length; j++) { %>
          <g>
            <rect x="<%= scale * (i + j + 1) + graphWidth / 2 %>" y="<%= i * scale + yOffsetFromTop %>" width="<%= scale %>" height="<%= scale %>" style="fill:<%= vectors[i][j] ? 'black' : 'white' %>;stroke:black;stroke-width:1;" />
            <text x="<%= scale * (i + j + 1.2) + graphWidth / 2 %>" y="<%= (i + 0.8 ) * scale + yOffsetFromTop %>" font-family="Verdana" font-size="<% scale %>" fill="black" style="display:<%= j === halfWidth ? 'block' : 'none'%>"><%= i %><text>
          </g>
          <g>
            <rect x="<%= graphWidth / 2 - scale * (i + j - halfWidth * 2) %>" y="<%= yOffsetFromTop - (i + 1 ) * scale%>" width="<%= scale %>" height="<%= scale %>" style="fill:<%= vectors[i][j] ? 'black' : 'white' %>;stroke:black;stroke-width:1;" />
            <text x="<%= graphWidth / 2 - scale * (i + j - halfWidth  * 2 -  0.2) %>" y="<%=  yOffsetFromTop - (i + 0.2 ) * scale %>" font-family="Verdana" font-size="<% scale %>" fill="black" style="display:<%= j === halfWidth ? 'block' : 'none'%>"><%= i %><text>
          </g>

        <% } %>
    <% } %>
  </svg>
</div>
