
<%
const vectors = {}
const zeroPad = (num, places) => String(num).padStart(places, '0')
for (let i=0; i < 2**scale - 1; i++) {
  const stringForm = zeroPad(i.toString(2),scale)
  const arrayForm = stringForm.split('').map(el => el === '1' ? 1 : 0)
  const sum = arrayForm.reduce(function(a, b){
    return a + b;
  })

  %>
    <div style="font-weight: <%= sum === 3 ? '1000' : '400'; %>">
      <span><%= i %> =</span>
      <span><%= stringForm %>  </span>
      <span><%= JSON.stringify(arrayForm) %></span>
      <span><%= sum %></span>
    </div>
  <%
}
%>
